<app-alert 
    *ngIf="showErrorMessage"
    (showErrorMessage)="showErrorMessage"
    />

<span 
    (click)="handlePerson()"
    class="badge bg-secondary pointer float-end">
    Add Person
</span>

<div *ngIf="peopleList && peopleList.length > 0; else noPeople">
    <h5>People related</h5>
    <table class="table" >
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Skills</th>
          </tr>
        </thead>
        <tbody>
    
            <tr class="pointer" *ngFor="let person of peopleList" (click)="handlePerson(person)">
                <th> {{person.fullName}} </th>
                <td> {{person.age}} </td>
                <td>
                    <app-skill-list [skills]="person?.skills" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #noPeople>
    <h3>No people related.</h3>
</ng-template>