<div class="modal-header">
    <h4 class="modal-title">Person form</h4>
    <button type="button" class="close btn btn-xs btn-default float-end" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <app-alert 
      *ngIf="showErrorMessage"
      [showErrorMessage]="showErrorMessage"
      />

    <form [formGroup]="personForm">
        <div>
          <div class="form-group">
            <label for="fullName">Full Name</label>
            <input id="fullName" class="form-control" formControlName="fullName">
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input id="age" type="number" class="form-control" formControlName="age">
          </div>
          
          <hr>
          <h5>Skills</h5>
          <app-skill-input (newSkillEmit)="newSkillEmit($event)"></app-skill-input>
          <div class="mt-3">
            <app-skill-list
              [ableToRemove]="true"
              (removeSkillEvent)="removeSkill($event)" 
              [skills]="localSkillList" 
              />
          </div>

        </div>

        <button 
          type="btn" 
          (click)="submitForm()"
          class="btn btn-primary float-end mt-3 mb-3 mx-3" 
          [disabled]="personForm.invalid || localSkillList.length == 0"
          >
          <span *ngIf="!selectedPerson">Add</span>
          <span *ngIf="selectedPerson">Update</span>
          Person
        </button>

        <span 
          class="btn btn-secondary  float-end mt-3 mb-3"
          (click)="close()"
          >
          Cancel
        </span>

    </form> 
</div>
  