<div class="modal-header">
    <h4 class="modal-title">Task Form</h4>
    <button type="button" class="close btn btn-xs btn-default float-end" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
  <form [formGroup]="taskForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="title">Name</label>
      <input id="title" class="form-control" formControlName="title">

      <div *ngIf="taskForm.get('title')?.touched && taskForm.get('title')?.invalid" class="text-danger">
        <div *ngIf="taskForm.get('title')?.errors?.['required']">Field required.</div>
        <div *ngIf="taskForm.get('title')?.errors?.['minlength']">At least 5 characters.</div>
        <div *ngIf="taskForm.get('title')?.errors?.['maxlength']">Max 10 characters.</div>
      </div>

    </div>        
    <div class="form-group mt-3">
      <label for="dueDate">Due Date</label>
      <br>
      <ngb-datepicker  
        #dp
        formControlName="dueDate"
        class="mt-1"
        (dateSelect)="onDateSelect($event)"
        ></ngb-datepicker>
    </div>
    <hr>

    <app-people-list [peopleList]="selectedTask.people" (handlePeople)="handlePeopleList($event)" />

    
    <button 
      type="submit" 
      class="btn btn-primary float-end mt-3 mb-3 mx-3" 
      [disabled]="taskForm.invalid"
      >
      Save Task
    </button>

    <span 
      class="btn btn-secondary  float-end mt-3 mb-3"
      (click)="close()"
      >
      Cancel
    </span>
  </form> 
</div>
  