<div class="modal-header">
    <h4 class="modal-title">New Task</h4>
    <button type="button" class="close btn btn-xs btn-default float-end" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
  <form [formGroup]="taskForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="taskName">Name</label>
      <input id="taskName" class="form-control" formControlName="taskName">

      <div *ngIf="taskForm.get('taskName')?.touched && taskForm.get('taskName')?.invalid" class="text-danger">
        <div *ngIf="taskForm.get('taskName')?.errors?.['required']">Field required.</div>
        <div *ngIf="taskForm.get('taskName')?.errors?.['minlength']">At least 5 characters.</div>
        <div *ngIf="taskForm.get('taskName')?.errors?.['maxlength']">Max 10 characters.</div>
      </div>

    </div>        
    <div class="form-group mt-3">
      <label for="dueDate">Due Date</label>
      <br>
      <ngb-datepicker  
        #dp
        formControlName="dueDate"
        class="mt-1"
        (dateSelect)="onDateSelect($event)"
        ></ngb-datepicker>
    </div>
    <hr>
    <app-people-list [peopleList]="selectedTask.people" (handlePeople)="handlePeopleList($event)" />
    <br>
    <button 
      type="submit" 
      class="btn btn-success float-end mb-3" 
      [disabled]="taskForm.invalid"
      >
      Save Task
    </button>
  </form> 
</div>
  