.form-select{
  width: 150px;
  height: 38px;
  padding: 0px 10px;
  border-color: #0d6efd;
  color: #0d6efd;
}
.form-select:hover{
  background-color: #0d6efd;
  color: #fff;
}

.form-select:hover option{
  background-color: #fff;
  color: #000;
}
.task-list{
  max-width: 900px;
  margin: auto;
}
/* Pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
  .xs-100{
    width: 100%;
    float: left;
    margin-right: 0 !important;
     margin-left: 0 !important;
  }
}