<div class="container mt-4">
  <h2>Listado de Tareas</h2>
  <button class="btn btn-primary mb-3" (click)="openNewTaskForm()">
    Nueva Tarea
  </button>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Mark</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks$ | async">
        <td>
          <span class="pointer" [ngClass]="{ 'text-decoration-line-through': task.completed }" (click)="openNewTaskForm(task)">
            {{ task.taskName | titlecase }} ({{ task.dueDate.year }}-{{task.dueDate.month}}-{{task.dueDate.day}})
          </span>
        </td>
        <td>
          <span
            [ngClass]="{ 'btn-warning': !task.completed }"
            class="btn btn-success btn-sm me-2"
            (click)="toggleTaskCompletion(task)"
          >
            {{ task.completed ? "Completed" : "Pending" }}
          </span>
        </td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteTask(task.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
