<div class="container mt-4">
  <h2>Task List</h2>

  <div class="d-inline-block mb-3 float-end xs-100" ngbDropdown #myDrop="ngbDropdown">
    <button
      type="button"
      class="btn btn-outline-primary me-2 xs-100"
      id="dropdownManual"
      ngbDropdownAnchor
      (focus)="myDrop.open()"
    >
      Options
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
      <button *ngIf="!tasksFromApi" ngbDropdownItem (click)="openNewTaskForm()">New Task</button>
      <button ngbDropdownItem (click)="getTaskApi()">Get tasks from API</button>
      <button ngbDropdownItem (click)="getTaskStore()">Get tasks from STORE</button>
    </div>
  </div>

  <div class="d-inline-block mb-3 float-end xs-100" *ngIf="!tasksFromApi" ngbDropdown #myDrop="ngbDropdown">
    <button
      type="button"
      class="btn btn-outline-primary me-2 xs-100"
      id="dropdownManual"
      ngbDropdownAnchor
      (focus)="myDrop.open()"
    >
      Filter Tasks
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
      <button ngbDropdownItem (click)="filterByStatus(states.completed)">Completed</button>
      <button ngbDropdownItem (click)="filterByStatus(states.pending)">Pending</button>
      <button ngbDropdownItem (click)="filterByStatus(states.all)">All</button>
    </div>
  </div>


  <p class="float-start w-100 text-primary">Showing <b> {{stateSelected}} </b> tasks </p>

  <table class="table table-bordered" >
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Mark</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks$ | async">
        <td (click)="openNewTaskForm(task)" >
          <span
              class="pointer"               
              [ngClass]="{ 'text-decoration-line-through': task.completed, 'cursor-not-allowed' : tasksFromApi }"              
              >
            {{ task.title | titlecase }} 
            <span *ngIf="task.dueDate">
              ({{ task.dueDate.year }}-{{task.dueDate.month}}-{{task.dueDate.day}})
            </span>              
          </span>
        </td>
        <td>
          <span
            [ngClass]="{ 'badge bg-warning text-white': !task.completed, 'cursor-not-allowed' : tasksFromApi }"
            class="text-success me-2 pointer"
            (click)="toggleTaskCompletion(task)"
          >
            {{ task.completed ? "Completed" : "Pending" }}
          </span>
        </td>
        <td>
          <span 
            class="badge bg-danger pointer" 
            (click)="openConfirm(task)"
            [ngClass]="{ 'cursor-not-allowed' : tasksFromApi }"
            >
            Delete
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
